body {
	background-color: #22b1e0;
	font-family: Verdana, sans-serif;
}

#title {
	text-align: center;
	color: #fff;
	font-size: 3em;
	line-height: 3.25em;
}

#main {
	background-color: #eee;
	width: 80%;
	height: 75%;
	padding: 5%;
	border-radius: 1em;
	/*overflow: hidden;*/
	margin: auto;
	font-size: 42px;
	text-align: center;
}

.group {
	height: 1em;
	width: 75%;
	margin: 0 auto;
}

#status-label-div {
	background-color: #359c27;
	height: 2.5em;
	width: 5.5em;
	border-radius: 1.25em 0em 0em 1.25em;
	border-color: #000;
	border-style: solid;
	border-width: medium 0 medium medium;
	text-align: center;
	line-height: 2.5em;
	color: #fff;
	
	float: left;
}

#status-div {
	background-color: #a5d19f;
	height: 2.5em;
	width: 8.125em;
	border-radius: 0em 1.25em 1.25em 0em;
	border-color: #000;
	border-style: solid;
	border-width: medium medium medium 0;
	text-align: center;
	line-height: 2.5em;
	
	display: inline-block;
}

br {
	line-height: 2em;
}

.speed-group {
	text-align: left;
	width: 30%;
	margin: 0 auto;
}

.short {
	line-height: 1.25em;
}

input[type=radio] {
	transform: scale(4);
}

button {
	text-align: center;
	font-size: 76px;
	margin: 2% auto;
	height: 1.75em;
	width: 70%;
	border-radius: 0.875em;
	color: #fff;
}

#test {
	background-color: #fcba03;
}

#test:active {
	background-color: #e3a802;
}

#start {
	background-color: #1c7cd6;
}

#start:active {
	background-color: #196dbd;
}

#reset {
	background-color: #e8391e;
}

#reset:active {
	background-color: #cf341b;
}